@use './variables' as *;

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #fff;
  overflow: hidden;
}

/* 핵심 */
.block {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 150vw;   // 화면보다 크게 (중요)
  height: 150vh;

  transform-origin: bottom left; // 🔥 핵심
  transform: rotate(-90deg);     // 12시 방향 시작

  animation: fallClock 0.9s forwards;
}

/* 색 + 순서 */
.pointC { background: $point-color; animation-delay: 0s; }
.mainC  { background: $main-color;  animation-delay: 1s; }
.subC   { background: $sud-color;   animation-delay: 2s; }

@keyframes fallClock {
  to {
    transform: rotate(0deg); // 3시 방향
  }
}