@use './variables' as *;
.projects_W{
    background: $sub-color;
    padding: 80px 80px 0 13%;
    .projects {
        overflow: hidden;
        display: flex;
        width: 100%;
        height: 100dvh;
        gap: 40px;
        .contentRow{
            display: flex;
            width: 100%;
            height: 100%;
            .leftArea {
                width: 30%;
                display: flex;
                flex-direction: column;
                height: 100%;
                position: relative;
                .textBox {
                    flex-grow: .1;
                    margin: 60px 0 0px 8%;
                    .title {
                        font-size: 25px;
                        font-weight: 600;
                        margin-bottom: 20px;
                        color: #fff;
                    }
                    .subtitle {
                        font-size: 16px;
                        line-height: 150%;
                        white-space: pre-line;
                        color: $sub-Tcolor;
                        margin-bottom: 15px;
                    }
                    a{
                        color: #fff;
                        text-decoration: none;
                        font-size: 20px;
                        transition: .3s;
                        &::after{
                            content: ">>>";
                            margin-left: 8px;
                            opacity: 0;
                            transform: translateX(-10px);
                            transition: 0.4s;
                        }
                        transition: 0.3s;
                        &:hover {
                            color: $point-color;
                            &::after {
                                opacity: 1;
                                transform: translateX(0);
                            }
                        }
                    }
                }
                .swiper{margin-left: 8%;}
                .thumbsSwiper {
                    cursor: pointer;
                    flex-grow: 1;
                    height: auto;
                    max-height: 500px;
                    .swiper-wrapper {
                        gap: 10px;
                        height: 300px;
                        .swiper-slide{
                            position: relative;
                            display: flex;
                            width: 100%;
                            height: 100px;
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                            &::after {
                                content: '';
                                position: absolute;
                                inset: 0;
                                background: rgba(0,0,0,0.5);
                                transition: 0.3s;
                            }
                        }
                        .swiper-slide-thumb-active {
                            &::after {background: rgba(0, 0, 0, 0)}
                        }
                    }
                }
                .scrollbox{
                    top: 0;
                    margin-top: 7px;
                    width: 15px;
                    height: 15px;
                    background: $point-color;
                    position: absolute;
                    top: 32%;
                    right: 55%;
                    transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1);
                    pointer-events: none;
                    z-index: 10;
                }
            }
            .mainSwiper{
                width: 66%;
                height: 66%;
                flex: none;
                position: relative;
                top: 14%;
                .swiper-wrapper {
                    .swiper-slide{
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        overflow: hidden;
                        a {
                            display: block;
                            width: 100%;
                            height: 100%;
                            overflow: hidden;
                        }
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                            transition: transform 0.5s;
                        }
                    }
                    &:hover img {transform: scale(1.05);}
                }
            }
        }    
    }

}
.mo{
    display: none;
    background: #111;
    padding: 50px 8%;
    .reveal{
        h3{font-size: 45px;}
        margin-bottom: 50px
    }
    .projectsList{
        .projectItem{
            a{
                display: inline-block;
                margin-bottom: 10px;
                img{
                    width: 100%;
                }
            }
            .textBox_m{
                color: #fff;
                line-height: 140%;
                margin-bottom: 20px;
                .t_g{
                    display: flex;
                    a{
                        align-items: center;
                        display: inline-flex;
                        font-weight: 600;
                        margin-left: 20px;
                        transition: .5s;
                        &::after{
                            content: ">>>";
                            margin-left: 8px;
                            opacity: 0;
                            transform: translateX(-20px);
                            transition: 0.4s;
                        }
                        transition: 0.3s;
                        &:hover {
                            color: #14a9ff;
                            &::after {
                                opacity: 1;
                                transform: translateX(0);
                            }
                        }
                    }
                }
                p{
                    color: $sub-Tcolor;
                    font-weight: 300;
                    font-size: 14px;
                    margin-bottom: 10px;
                }
                a{
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
    }
}
.reveal {
        position: relative;
        display: inline-block;
        overflow: hidden;
        align-self: flex-start;
        .white-box {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to right, rgb(255, 255, 255) 90%, $point-color 10%);
            z-index: 2;
        }
        h3 {
            position: relative;
            z-index: 1;
            font-size: 52px;
            color: #fff;
        }
    }
@media screen and (max-width: 1440px){
    .projects_W{
        padding: 80px 50px 0 13%;
        .reveal {
            h3 {font-size: 50px;}
        }
        .projects {
            .contentRow{
                .leftArea {
                    .textBox {
                        .title {
                            font-size: 24px;
                            margin-bottom: 15px;
                        }
                        .subtitle {font-size: 15px;}
                    }
                    .swiper{margin-left: 8%;}
                    .thumbsSwiper {
                        max-height: 450px;
                        .swiper-wrapper {
                            height: 300px;
                        }
                    }
                    .scrollbox{
                        top: 31%;
                        right: 40%;
                    }
                }
                .mainSwiper{
                    top: 14%;
                    width: 68%;
                    height: 65%;
                }
            }
                
        }

    }
}
@media screen and (max-width: 1280px){
    .projects_W{
        padding: 80px 30px 0 10%;
        .reveal {
            h3 {font-size: 45px;}
        }
        .projects {
            .contentRow{
                .leftArea {
                    .textBox {
                        .title {
                            font-size: 22px;
                            margin-bottom: 15px;
                        }
                        .subtitle {font-size: 13px;}
                    }
                    .swiper{margin-left: 8%;}
                    
                    .scrollbox{
                        top: 30%;
                        right: 35%;
                        width: 14px;
                        height: 14px;
                    }
                }
                .mainSwiper{top: 12%;}
            }
                
        }

    }
}
@media screen and (max-width: 1024px){
    .projects_W{
        padding: 80px 50px 0 9%;
        .reveal {
            h3 {font-size: 40px;}
        }
        .projects {
            .contentRow{
                .leftArea {
                    .textBox {
                        margin: 40px 0 0px 5%;
                        .title {
                            font-size: 19px;
                            margin-bottom: 10px;
                        }
                        .subtitle {font-size: 12px;}
                        a{font-size: 15px;}
                    }
                    .swiper{margin-left: 5%;}
                    .thumbsSwiper {
                        max-height: 400px;
                        .swiper-wrapper {
                            gap: 10px;
                            height: 150px;
                        }
                    }
                    .scrollbox{
                        width: 12px;
                        height: 12px;
                        top: 27%;
                        right: 35%;
                    }
                }
                .mainSwiper{
                    top: 13%;
                    width: 70%;
                    
                }
            }
        }

    }
}
@media screen and (max-width: 760PX){
    .projects_W{ display: none;}
    .mo{
        display: block;
        .reveal{
            font-size: 40px;
        }
    }
    
}
@media screen and (max-width: 420PX){
    .mo{
        display: block;
        .reveal{
            font-size: 40px;
        }
    }
    
}