.skills{
    padding: 200px 20%;
    display: flex;
    justify-content: space-between;
    ul{
        width: 40%;
        li{
            width: 100%;
            color: #333;
            line-height: 160%;
            margin-bottom: 15px;
            h4{
                position: relative;
                border-bottom: 1px solid #b8b8b8;
                padding: 5px 0;
                transition: .5s;
                margin-bottom: 5px;
                &::before{
                    content: "";
                    display: block;
                    position: absolute;
                    top: 13px; left: 0;
                    width: 10px;
                    height: 10px;
                    background: #14a9ff;
                    opacity: 0;
                    transition: .5s;
                }
                &:hover{
                    padding: 5px 18px;
                    color: #14a9ff;
                    &::before{
                        opacity: 1;
                        transform: rotate(180deg)
                    }
                }
                
                
            }
            span{font-size: 13px;}
        }
    }
}